@use 'variables' as v;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-family: v.$primary_font, sans-serif;
    font-size: 0.8rem;
    color: v.$black_color;
    text-align: center;
    min-height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #e5e5f7;
    opacity: 1;
    background-image: linear-gradient(#61b2e9 1.1px, transparent 1.1px), linear-gradient(to right, #61b2e9 1.1px, #e5e5f7 1.1px);
    background-size: 22px 22px;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .imglogo {
        width: 80%;
        max-width: 800px;
        height: auto;
        object-fit: contain;
    }

    .category-header {
        font-size: 1.2rem;
        font-weight: bold;
        font-family: v.$secondary_font;
        color: v.$black-color;
        display: flex;
        justify-content: center;
        align-items: center;
        --r: .8em;
        position: relative;
        top: 20px;
        inset-inline: calc(-1*var(--r));
        line-height: 1.8;
        padding: .2em .5em calc(1.5*var(--r));
        border-radius: var(--r);

        
      
        
        i {
            margin-left: 1rem;
            &:hover {
                transform: scale(1.2) rotate(-4deg);
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}

main {
    flex: 1;
    padding: 2rem;
    max-width: 1800px;
    margin: 0 auto;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$primary-color;
    color: v.$white-color;
    padding: 1rem;
    margin-top: auto;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);

    p {
        margin: 0;
        font-size: 1rem;
        margin-right: 0.5rem;
    }

    a {
        text-decoration: none;
        color: v.$white-color;
        &:hover {
            color: rgba(219, 94, 11, 0.986);
        }
    }
}

ul {
    li {
        list-style: none;

        a {
            text-decoration: none;
            color: v.$black_color;
        }
    }
}

.error-message {
    background-color: #ff6b6b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    animation: fadeIn 0.3s ease-in;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
