//Colores

$primary-color:#0c3f6f;


$bg-color:#fff4f0;

$black-color: #110e0e;
$white-color: #fff6f6;
$card-color:#e3e8ed;

//font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$primary_font: 'Poppins' ;
$secondary_font: 'Raleway';


//Tamaños de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1300px;